{% extends "layout.html" %}
{% block title %}{{ this.titolo }}{% endblock %}
{% block body %}
  <h2 style="color: {{ this.titolo_koloro }}">{{ this.title }}</h2>

<div class="mdl-grid">
  <a target="_blank" class="mdl-cell--10-offset  mdl-cell--4-col-phone  mdl-cell--6-offset-tablet mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
     href="{{ bag('agordo', 'alighilo') }}">
    <span>{{ site.get('/', alt=alt).mi_alighas }} <i class="material-icons">done</i></span>
  </a>
</div>

  <figure><a href="{{ '/kotizo/kotizkalkulilo'|url(alt=alt) }}"><img src="{{ '/static/img/calculator.svg'|url }}" alt="La kotizkalkulilo de IJS"></a></figure>

    <div class="mdl-grid center-items">
      <a style="background-color:#607D8B" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        href="{{ '/kotizo/kotizkalkulilo'|url(alt=alt) }}">
        <span>{{ this.kotizkalkulilo }} &nbsp; <i class="material-icons">pie_chart</i></span>
      </a>
    </div>

  {{ this.antau_korpo }}

  <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col mdl-cell--1-offset-tablet mdl-cell--6-col-tablet">
    {{ this.body }}
  </div>


  <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col mdl-cell--1-offset-tablet mdl-cell--6-col-tablet"
       style="color: {{ this.titolo_koloro }}">
    {{ this.post_korpo }}
  </div>
{% endblock %}
