{% extends "layout.html" %}
{% block title %}{{ this.titolo }}{% endblock %}
{% block body %}
  <h2 style="color: {{ this.titolo_koloro }}">{{ this.title }}</h2>

  {{ this.antau_korpo }}


  <section id="alighilo">
    <figure><a href="{{ bag('agordo', 'alighilo') }}"><img src="{{ '/static/img/contract.svg'|url }}" alt="La aliĝilo de IJS"></a></figure>

    <div class="mdl-grid center-items">
      <a target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        href="{{ bag('agordo', 'alighilo') }}">
        <span>{{ this.mi_alighas }} <i class="material-icons">done</i></span>
      </a>
    </div>

    <div class="mdl-grid center-items">
      <a style="background-color:#607D8B" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        href="{{ '/kotizo/kotizkalkulilo'|url(alt=alt) }}">
        <span>{{ this.kotizkalkulilo }} &nbsp; <i class="material-icons">pie_chart</i></span>
      </a>
    </div>

  <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col mdl-cell--1-offset-tablet mdl-cell--6-col-tablet">
    {{ this.body }}
  </div>


  <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col mdl-cell--1-offset-tablet mdl-cell--6-col-tablet"
       style="color: {{ this.titolo_koloro }}">
    {{ this.post_korpo }}
  </div>


  <script type="text/javascript">

    var public_url = "https://docs.google.com/spreadsheets/d/1fzmX24cZpdvsqWBqQpVMzeogGkqDHURbGzahgxVp7cM/pubhtml?gid=721185647&single=true";

    function loadParticipants() {
      if (! document.getElementById('nb')) return;
      Tabletop.init({
        key: public_url,
        simpleSheet: true,
        callback: function(data, tabletop) {
          document.getElementById('nb').innerHTML = data.length;
          data.forEach(function(homo) {
              document.getElementById('homoj').innerHTML +=
                `<li class="mdl-list__item mdl-list__item--two-line">
                   <span class="mdl-list__item-primary-content">
                     <i class="material-icons mdl-list__item-icon">person</i>
                     <span>${homo["Nomo"]}</span>
                     <span class="mdl-list__item-sub-title">el ${homo["Lando"]}</span>
                   </span>
                 </li>`;
          });
        }
      });
    }

    window.onload = function() { loadParticipants() };
  </script>
{% endblock %}
