.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.clickme {
  cursor:pointer;
}

/**/

td > .mdl-js-checkbox { width: 50%; margin-left: 40%}
.mdl-data-table th { text-align: center}
legend { font-size: 1.1rem; font-weight: bold; margin-top: 1rem}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #E5DABA;
    font-size: 120%;
    color: #444;
}
.mdl-layout-title a {
    text-decoration: none;
    color: white;
}
h1, h2, h3, h4 {
    font-family: 'Lobster', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .3);
}
p, li {
    font-size: 19px;
}
section,
footer {
    margin: 0;
    padding: 2em 0;
}
footer {
    color: #9F8668;
    text-align: center;
    font-style: italic;
}
figure img { width: 200px; height: 200px; }
time { display: inline-block; }
.center, figure { text-align: center }
section p,
section li {
    opacity: .8;
    line-height: 1.7
}

#bonvenigo {
    color: white;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, .6);
    text-align: center;
    background-color: #E46964;
}
#bonvenigo p {
    padding: .2em 1em;
    /*background: rgba(0, 0, 0, .2);
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);*/
}
#bonvenigo h3 { color: #AED4BF }
#bonvenigo .dato { color: #E5DABA }
#bonvenigo .dato .sep { opacity: .6 }

.parallax { padding: 0 }
.parallax {
    height: 18em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer a img {
    width: 80px; height: 80px;
}
.mdl-grid.center-items {
  justify-content: center;
}

.wrap { width: 100%; }
@media screen and (min-width:760px) {
    .wrap {
        width: 80%;
        margin: 0 auto;
    }
}

.gallery {
	position: relative;
	padding: 40px;
	text-align: center;
}

.unslider img {
    height: 600px;
}

.unslider-arrow:hover {
    opacity: 1;
}

.unslider-arrow.next {
	left: auto;
	right: 50px;
}

.unslider-arrow.prev {
	left: 50px;
	right: auto;
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.unslider-arrow {
	display: block;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	top: 50%;
	left: auto;
    right: auto;
	overflow: hidden;
	background: rgba(0,0,0,.2) no-repeat 50% 50%;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
	background-size: 7px 11px;
	border-radius: 32px;
	text-indent: -999em;
	opacity: .6;
	transition: opacity .2s;
}
